<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>gesmatemprunt- Dashboard</title>

    <th:block th:replace="fragments/_css.html::css"></th:block>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <th:block th:replace="fragments/_sidebar.html::sidebar"></th:block>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <th:block th:replace="fragments/_topbar.html::topbar"></th:block>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 mr-auto ml-auto text-center">
                    <h1 class="h3 mb-0 d-flex w-50 justify-content-between mr-auto font-weight-bold ml-auto text-gray-800 text-center">
                        <a href="listemateriels.html" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                        <span>Detail Sur Le Materiel</span>

                    </h1>
                </div>



                <div class="card shadow mb-4 w-50 mr-auto ml-auto">
                    <div class="card-header py-3 align-items-center d-flex bg-primary text-white justify-content-between">
                        <span th:text="${materielDTO.reference}">Ref° Ntf2045css</span>
                        <div>
                            <span class="btn btn-warning" th:text="${materielDTO.etat}">en panne</span>
                            <a href="../static/materiels/update.html" class="btn btn-info">modifier</a>
                            <a th:href="@{'/supprimermateriel?refmateriel=' + ${materielDTO.reference}}" class="btn btn-danger">supprimer</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="d-flex justify-content-between">
                                <h5 class="font-weight-bold" >Nom</h5>
                                <span>ajouter le <small class="font-weight-bold text-info" th:text="${materielDTO.dateAcquisition}">23/12/2021</small></span>
                            </div>
                            <span th:text="${materielDTO.nom}" >nom du materiel</span>
                        </div>
                        <div class="mb-4 mt-4">
                            <h5 class="font-weight-bold">Categorie</h5>
                            <span>categorie du materiel</span>
                        </div>
                        <div>
                            <h5 class="font-weight-bold">Description</h5>
                            <p class="text-justify"  th:text="${materielDTO.description}">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quisquam dicta voluptates at aspernatur et quos nemo, repellendus sed libero nisi tenetur officia est corrupti illum eum fugiat itaque iure!
                            Praesentium ratione dolore consequuntur tempore sapiente voluptatum nihil nemo, enim, architecto eum laborum ullam consectetur adipisci similique libero! Nulla minima laboriosam beatae. Aspernatur cumque repellendus veniam error odit vero labore?</p>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


        <th:block th:replace="fragments/_footer.html::footer"></th:block>


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<th:block th:replace="fragments/_js.html::js"></th:block>

</body>

</html>