<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>gesmatemprunt- Dashboard</title>

    <th:block th:replace="fragments/_css.html::css"></th:block>
    <!-- Custom styles for this page -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">


    <th:block th:replace="fragments/_sidebar.html::sidebar"></th:block>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <th:block th:replace="fragments/_topbar.html::topbar"></th:block>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 mr-auto ml-auto text-center">
                    <h1 class="h3 mb-0 mr-auto font-weight-bold ml-auto text-gray-800 text-center">Liste Du Materiel</h1>
                </div>



                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <form  th:method="GET"
                               th:action="@{/recherchematerielform}"

                                class="d-sm-block form-inline mr-auto ml-auto w-50 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light  small" placeholder="Search for..."
                                    aria-label="Search" aria-describedby="basic-addon2"
                                name="motcles">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" >
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ref</th>
                                    <th>nom</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>ref</th>
                                    <th>nom</th>
                                    <th>actions</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="materielDTO : ${materielDTOS}" >
                                    <td th:text="${materielDTO.reference}">Donna Snider</td>
                                    <td th:text="${materielDTO.nom}">Customer Support</td>
                                    <td>
                                        <a th:href="@{'/detailmateriel?refmateriel=' + ${materielDTO.reference}}" class="btn btn-primary">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="../static/materiels/update.html" class="btn btn-warning">
                                            <i class="fa fa-pen"></i>
                                        </a>
                                        <span class="btn btn-info" data-toggle="modal" data-target="#emprunter">
                                                <i class="fa fa-truck" aria-hidden="true"></i>
                                            </span>
                                        <a th:href="@{'/supprimermateriel?refmateriel=' + ${materielDTO.reference}}" class="btn btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <th:block th:replace="fragments/_footer.html::footer"></th:block>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Modal -->
<div class="modal fade" id="emprunter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Emprunter materiel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">Search</span>
                </div>
            </div>
            <div class="form-group">
                <select name="nom" class="form-control selectpicker" data-live-search="true" id="nom">
                    <option data-tokens="un">jorel</option>
                    <option data-tokens="deux">jorel</option>
                    <option data-tokens="trois">jorel</option>
                    <option data-tokens="quatre">jorel</option>
                    <option data-tokens="cinq">jorel</option>
                </select>
            </div>
          <div class="form-group">
              <label for="date">Date remise</label>
              <input type="date" name="date" id="date" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Emprunter</button>
        </div>
      </div>
    </div>
  </div>

<th:block th:replace="fragments/_js.html::js"></th:block>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>

</body>

</html>